{% extends "base.html" %}

{% block content %}
    {{ msg }}
	<form method="get" action="/purchaseticket">
		<button type="purchaseticket">Purchase Ticket</button>
	</form>
	<form method="get" action="/seetripboard ">
		<button type="seetripboard">Today's Trips</button>
	</form>
	<form method="get" action="/editprofile">
		<button type="editinfo">Edit Profile</button>
	</form>
	<form method="get" action="/pastrides">
		<button type="pastrides">Past Transactions</button>
	</form>
	<form method="get" action="/logout">
		<button type="Logout">Logout</button>
	</form>
{% endblock %}

