{% extends "base.html" %}

{% block content %}
	<style>
		table, th, td {
		border: 1px solid black;
	}
	</style>
	<h1>{{session.PFirstName}}'s Past Transactions</h1>
	<table style = "width:100%">
		<tr>
			<th>Origin</th>
			<th>Destination</th>
			<th>Departure Time</th>
			<th>Arrival Time</th>
			<th>Seat Type</th>
			<th>Price of Ticket</th>
		</tr>
		{% for transaction in transactions %}
			<tr>
			<td>{{ transaction.stationName }}</a></td>
			<td>{{ transaction.DstationName }}</a></td>
			<td>{{ transaction.departDateTime }}</a></td>
			<td>{{ transaction.arrivalDateTime }}</a></td>
			<td>{{ transaction.seatType }}</a></td>
			<td>${{ transaction.price }}</a></td>
			<br>
			</tr>
		{%endfor%}

{% endblock %}