{% extends "base.html" %}

{% block content %}
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
    {% endif %} 
	<form action="/purchaseticket" method="POST">
		<label for="Origin">Origin:</label>
		<select id="Origin" name="Origin">
		<option value= "">No station selected</option>
		{% for station in stations %}
			<option value="{{ station.stationID }}">{{ station.stationName }}</option>
		{% endfor %}
		</select>
		<br><br>
				
		<label for="Destination">Destination:</label>
		<select id="Destination" name="Destination">
		{% for station in stations %}
			<option value="{{ station.stationID }}">{{ station.stationName }}</option>
		{% endfor %}
		</select>
	
		<br><br>		
			
		<label for="departDate">Date:</label>
		<input type="date" id="departDate" name="departDate">
		
		<br><br>
		<input type="submit" value="Search"/>
	</form>		
		
		


{% endblock %}